
  .header {
    border: 1px solid;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    height: 60px;
    align-self: center;
}

.homeContainer {
    display: flex;
    border: 1px solid;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    height: 80px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}
.appHeader{
    align-items: center

}